<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../socket.io/socket.io.js"></script>
    <title>index</title>
    <style>
        li {
            list-style-type: none;
        }

        .logout {
            float: right;
        }
    </style>
</head>

<body>
    <div class="logout"><a href="/logout">Se déconnecter</a></div>
    <div class="pseudo"></div>
    <div class="saisie">
        <input id="msg"><button onclick="send()">Envoyer</button>
    </div>
    <ul id="reception">

    </ul>
    <form action="/">
        <button>Accueil</button>
    </form>

    <script src="/js/chat.js"></script>

</body>

</html>